html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 1px; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; 
  color: black;
}

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
.gigantic, .huge, .large, .bigger, .big,
h1, h2 {
  color: black;
  font-weight: normal; }

h3, h4, h5, h6{
	color: black;
	font-weight: bold;
}
.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  line-height: 1em;
  font-size: 100px;
  padding: 5px;
  width: 75%;
  margin: 0 auto; }

.large, h2 {
  font-size: 42px;
  line-height: 1em;
  padding: 5px;
  width: 75%;
  margin: 0 auto; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: inherit;
  text-decoration: underline;
  outline: 0; }

a:hover, a:focus {
  color: #1f81f0; }

::selection {
  background: #2486d0; }

::-moz-selection {
  background: #2486d0; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #2486d0; }

body {
  background: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Open Sans" sans-serif;
  color: #2e2d33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

nav ul{
	background: #424242;
	overflow: hidden;
	color: white;
	padding: 0;
	text-align: center;
	margin: 0px;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-: max-height 0.4s;
	transition: max-height 0.4s;
	z-index : 100;
	position: relative;
	width:100%;  
}
nav ul li{
	display: inline-block;
	padding: 20px;
	z-index : 100;
}

nav ul li:hover{
	background-color: black;
	opacity: .55;
	z-index : 100;
}

section{
	line-height: 1.5em;
	font-size: 0.9em;
	padding: 40px;
	width: 75%;
	margin: 0 auto 20px;
}

#pageTitle{
	width: 100%;
	text-align: center;
	color: white;
	background: #424242;
	z-index:0;
	font-size: 50px;
	position: relative;
  padding-bottom:5px;
}

.handle{
	width: 100%;
	background: #424242;
	text-align: center;
	box-sizing: border-box;
	padding: 15px 10px;
	cursor: pointer;
	color: white;
	display:none;
	position:relative;
	z-index:100;
  border-box:black;
  border-style: solid;
  border-width:2px;
  border-color: white;
}
@media screen and (max-width: 541px){
	nav ul{
		max-height: 0px;
		z-index: 100;
	}
	.showing{
		max-height: 30em;
		z-index: 100;
	}
	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
		z-index: 100;
	}
	
	.handle{
		display: block;
		z-index: 100;
	}
}

header {
  height: 100vh;
  background-color: white;
  background-image: url("/images/landingpage.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 8;
}

.home{
	font-size: 6em;
	opacity: .8;
	color: gray;
	font-weight: lighter;
	width: 100%;
	z-index: 10;
}

.home_small{
	font-size: 2em;
	opacity: .75;
	font-weight: lighter;
	width: 100%;
	z-index: 10;
}
p {
  margin: 0 auto 5px;
}

#banner{
  width:100%;
  line-height:75%;
  position:relative;
  margin-top:15px;
  margin-bottom:15px;
  padding:10px;
	z-index: 2;
  color:black;
  font-size: 38px;
}

#mainDark{
	width: 100%;
  position:relative;
	margin: 0 auto 10px;
  margin-top:20px;
  margin-bottom:20px;
  padding:10px;
	z-index: 2;
  color:black;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(135deg,  #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -moz-box-shadow:    0px 3px 10px 5px gray;
  -webkit-box-shadow: 0px 3px 10px 5px gray;
  box-shadow:         0px 3px 10px 5px gray;
}

#mainLight{
	background-color: white;
	width: 100%;
	margin: 0 auto 20px;
	z-index: 0;
}


.socialMedia{
  margin-left:5%;
	position: relative;
	align-items: center;
	justify-content: center;
  text-align: center;
}	


.wideImage{
	width: 100%;
  position:relative;
	z-index: 0;
  display:block;
  justify-content:center;
  
}

.module{
	position: relative;
	z-index: 1;
}

.map{
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
  margin-bottom:100px;
	
}

#textBox{
	position:absolute;
	padding:10%;
  border-radius:10px;
  display:inline-block;
	z-index: 2;
  display:inline-block;
  color:black;
  margin-left:20%;
  margin-right:20%;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
	transition: all 1s;
}

#textBox-about{
	position:absolute;
  max-width:100%;
  background:rgba(0,0,0,.45);
	top:30%;
	padding:2%;
  border-radius:5px;
  display:inline-block;
	z-index: 2;
  display:inline-block;
  color:white;
  margin-left:20%;
  margin-right:20%;
  -moz-transition: all 1s;
    -webkit-transition: all 1s;
	transition: all 1s;
}

#textBox-about:hover {
	background: rgba(0,0,0,.75);
}

#textBoxLeft{
	position:absolute;
  background:rgba(0,0,0,.45);
	max-width:30%;
  top:15%;
  left:5%;
	padding:2%;
  border-radius:5px;
  display:inline-block;
	z-index: 2;
  display:inline-block;
  color:white;
  -moz-transition: all 1s;
    -webkit-transition: all 1s;
	transition: all 1s;
}

#textBoxLeft:hover {
	background: rgba(0,0,0,75);
}


.textBoxTitle{
	font-size: 22px;
	font-family: "Open Sans" sans-serif;
  font-weight: 100;
	z-index: 2;
  text-align:center;
  text-align:left;
}

.textBoxTitle-about{
	font-size: 45px;
	font-family: "Open Sans" sans-serif;
	font-weight: 200;
	z-index: 2;
  text-align:center;
  color:white;
}

.bigtextBoxTitle{
	font-size: 38px;
	font-family: "Open Sans" sans-serif;
  font-weight: 100;
	z-index: 2;
  text-align:center;
  text-align:left;
}

.contactTitle{
	color: #000000;
	font-size: 34px;
	font-family: "Open Sans" sans-serif;
	font-weight: 200;
	text-align: center;
	line-height: 100%;
	z-index: 2;
}

.textBoxText{
	font-size: 15px;
	font-family: "Open Sans" sans-serif;
	font-weight: 10;
	z-index: 2;
}

.textBoxText-about{
	font-size: 16px;
	font-family: "Open Sans" sans-serif;
	font-weight: 10;
	z-index: 2;
  color:white;
}

#content-half{	
  padding-bottom:60px; /* Height of the footer element */
  width:75%;
  margin-right:auto;
  margin-left:auto;
  justify-content:center;
}

#content {
	padding-bottom:60px; /* Height of the footer element */
}
#footer {
	height:60px;
	background: #424242;
	z-index:1;
	position:relative;
	margin-top:-60px;
	padding-top:20px;
	padding-bottom:20px;
  text-align:center;
  color: white;
}


/* ------------ Form CSS ---------------*/

form {
  max-width: 450px;
  margin: 0 auto 20px;
  padding: 0 20px;
}

.form{
	color: black;
	text-align: left;
	font-size: 18px;
	display: block;	
}
 input, textarea {
  border: 3px solid;
  border-color: black;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;  
}

textarea {
  height: 10em;
  resize: none;
  
}
 .submit-wrap {
  text-align: center;
  
}
 [type="submit"] {
  background: black;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  float: center;
}
 [type="submit"]:hover {
  background: blue;
  border-color: blue;
}
 .contact-info-group label {
  width: 50%;
  float: left;
  box-sizing: border-box;
  
}
 .contact-info-group label:nth-child(1) {
  padding-right: 10px;
  
}
 .contact-info-group label:nth-child(2) {
  padding-left: 10px;
  
}
 label {
  display: block;
  margin-top: 10px;
  margin-bottom: 3px;
  
}
 label span {
  display: block;
  
}

@media (max-width: 541px) {
   .contact-info-group label {
    width: 100%;
  }
   .contact-info-group label:nth-child(1) {
    padding: 0;
  }
   .contact-info-group label:nth-child(2) {
    padding: 0;
  }
   [type="submit"] {
    width: 100%;
  }
}
/* ----------FORM CSS-------------- */
/*-------UNDER TEXT --------------*/
.underText {
	display:none;
	background: rgba(0,0,0,0.80);
	padding-top:4%;
	padding-bottom:4%;
	padding-left:6%;
	padding-right:6%; 
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;
}

.underText:hover {
	background: rgba(0,0,0,1);
}

.underText:hover .highlight {
	color:#7BDE7B;
}

.underText:hover .arrow-up {
	border-bottom: 65px solid rgba(0,0,0,1);
}
/*Medium screens*/
@media only screen and (max-width : 1080px), only screen and (max-device-width: 768px) {

	.underText {
		display:inline-block;
		color: rgba(255,255,255,0.88);;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		font-weight: 200;
		font-size:18px;
	}

	.textBox-about {
		top:7%;
    background:none;
	}

	.textBoxText-about {
		display:none;
	}
  
  .textBoxTitle-about{
  	text-align: left;
    color:white;
  }

}
/*Smaller screens (e.g. iPhone 5)*/
@media only screen and (max-width : 450px), only screen and (max-device-width: 450px) {

	.textBoxTitle-about {
		font-size:42px;
    text-align: center;
    vertical-align: middle;
		top:5%;
    background:none;
	}
	}
}